!!!
%html
  %head
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  %body
    %p
      Attached CSV with a total of #{@cards.length} cards with lane information
