%h1 Reports
%p Which do you want to download?
.well
  .form-actions
    = link_to 'Card & Lane', card_analytics_download_extract_url, :class => 'btn btn-primary'
    = link_to 'Missing Estimates', card_analytics_download_missing_estimates_url, :class => 'btn btn-primary'
    = link_to 'Missing Shepherds', card_analytics_download_missing_shepherds_url, :class => 'btn btn-primary'
.well
  .form-actions
    = link_to 'Looking for velocity?', card_analytics_velocity_url
