@import "bootstrap-sprockets";
@import "bootstrap";

.velocities {
  float: left;
  padding-left: 20px;
  padding-top: 100px;
}

#average_velocity_right_aligned {
  padding-left: 74px;
}

#current_velocity_right_aligned {
  padding-left: 51px;
}

.clear {
  clear: both;
  margin-top: 200px;
}

.word {
  color: #696969;
  float:left;
}

.word2 {
  padding-left : 20px;
  float:left;
  margin-top: 22px;
  color: #696969;
}

#last_week_word {
  float: right;
  color: #696969;
  padding-right : 20px;
}

#last_week_number{
  float:right;
}

.number {
  padding-left : 20px;
  float:left;
  margin-top: 12px;
}

#chart {
  float: right;
}

.big-well {
  min-height: 180px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: $well-bg;
  border: 1px solid $well-border;
  border-radius: $border-radius-base;
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
}
